[Unit]
Description=Stage Home Server Alma bootc update
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bootc upgrade
